html 
    head 
        title=QuizResults
        meta(charset="utf-8")
        link(rel="stylesheet" href="/style.css")

    body
        p(id="results" name="results") Your scores: #{result} / #{questionsNumber}
        
        form(method="get" action=`/questions/quiz/${0}`)
            button(type="submit") Spróbuj ponownie